.git
.idea
.worktrees
worktrees

**/target/*
!**/target/*-exec.jar
**/*.class

web/**/node_modules
web/**/dist
web/**/unpackage

deploy/.env
deploy/data
deploy/logs
deploy/docker/mysql/init/10-nacos.sql
deploy/docker/mysql/init/11-xxl-job.sql

*.iml
*.log
